# SPDX-License-Identifier: Apache-2.0

mainmenu "txing weather MCU"

menu "Weather"

config WEATHER_BME280_POWER_SETTLE_MS
	int "BME280 D1 power settle delay in ms"
	range 2 60000
	help
	  Delay after enabling D1 sensor power before the BME280 is accessed.

endmenu

rsource "../../../common/mcu/xiao_nrf54l15/Kconfig"
source "Kconfig.zephyr"
