/ {
	aliases {
		power = &power_out;
	};

	power_outputs {
		compatible = "gpio-leds";

		power_out: power_out {
			gpios = <&xiao_d 1 GPIO_ACTIVE_HIGH>;
			label = "Power output D1";
		};
	};

	chosen {
		zephyr,settings-partition = &storage_partition;
	};
};

&flash0 {
	partitions {
		/* The power-si does not use MCUBoot's secondary image slot. */
		txing_factory_partition: partition@17a000 {
			compatible = "zephyr,mapped-partition";
			reg = <0x0017a000 0x00002000>;
			label = "txing-factory";
		};
	};
};
