#
# Copyright (c) 2026 txing contributors
#
# SPDX-License-Identifier: Apache-2.0
#

config TXING_MATTER_AVERAGE_CURRENT_CONSUMPTION_UA
	int "Average Matter device current consumption in microamperes"
	range 1 2147483647
	default 1000
	help
	  Predicted average current consumption used to estimate the remaining
	  Power Source battery time.

if OPENTHREAD

choice OPENTHREAD_NORDIC_LIBRARY_CONFIGURATION
	default OPENTHREAD_NORDIC_LIBRARY_MTD
endchoice

choice OPENTHREAD_DEVICE_TYPE
	default OPENTHREAD_MTD
endchoice

config IEEE802154_NRF5_RX_STACK_SIZE
	default 8192

config CHIP_ENABLE_ICD_SUPPORT
	default y

endif # OPENTHREAD
