VITE_AWS_REGION=eu-central-1
VITE_TXING_THING_NAME=txing
VITE_SPARKPLUG_GROUP_ID=town
VITE_SPARKPLUG_EDGE_NODE_ID=rig
VITE_COGNITO_DOMAIN=from-output-WebCognitoDomain
VITE_COGNITO_CLIENT_ID=from-output-WebCognitoUserPoolClientId
VITE_COGNITO_USER_POOL_ID=from-output-WebCognitoUserPoolId
VITE_COGNITO_IDENTITY_POOL_ID=from-output-WebCognitoIdentityPoolId
VITE_IOT_POLICY_NAME=from-output-WebIotPolicyName
VITE_COGNITO_SCOPE=openid email profile
VITE_ADMIN_EMAIL=from-output-WebExpectedAdminEmail
